---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'Welcome' }}>
    <p>Welcome to your new Astro project.</p>
</StarlightPage>